{% extends 'base.html.twig' %}

{% block title %}Sur la route de l'école, la destinée{% endblock %}

{% block body %}
    <nav class="navbar-article navbar-expand-sm bg-light fixed-top">
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav-article ml-auto">
                <a class="nav-item nav-link active" style="font-size: 1.1em;" href="{{ path('app_home') }}">Accueil <span class="sr-only">(current)</span></a>
            </div>
        </div>
    </nav>

    <h1 style="margin-top: 7%" class="text-center">Sur la route de l'école, la destinée</h1>

    <div class="d-flex justify-content-center">
        <img style="width: 60em; height: 30em" src="{{ asset('images/livre_route_destine.jpeg') }}" alt="donate">
    </div>

    <h5 style="margin-right: 10%; margin-left: 10%; margin-top: 3%;font-size: 1.4em;">
        La Fondation Belko Barke Beïdari (F3B) a procédé ce vendredi 21 janvier 2022 à Ouagadougou, à la cérémonie de dédicace
        d’un ouvrage intitulé “Sur la route de l’école, la destinée” sur la personne de El Hadji Tamboura dit Belko Barké.
        Cette cérémonie dédicace a connu la participation de ses amis, ses collègues, ses enfants, ses élèves et ses petits
        enfants qui n’ont pas manqué d’exposer les vertus de l’homme et son abnégation pour le développement socio-économique
        du Burkina.
    </h5>
    <p style="margin-right: 10%; margin-left: 10%; margin-top: 3%;font-size: 1.2em;">
        À un prix unitaire de 2500 FCFA, le livre “Sur la route de l’école, la destinée” a été présenté aux hommes de médias et au public
        burkinabè. Le livre est résumé de Hamadoun Tamboura.
    </p>
    <p style="margin-right: 10%; margin-left: 10%; margin-top: 3%;font-size: 1.2em;">
        Selon le présentateur de l’ouvrage, Pr Sanou Salaka, cet ouvrage est une action louable pour saluer la mémoire de
        El Hadji Tamboura. Il ajoute que les anciens ont toujours vécu avec un intérêt pour la communauté et El Hadji Tamboura
        est un exemple. Pour lui, il s’agit d’enseigner la jeune génération sur des valeurs intrinsèques de développement
        socio-économique. ” Cet ouvrage rappel à l’homme que la vie est une école. Ce livre est le résumé de la vie de El
        Hadji Tamboura. Hamadou Tamboura a une riche carrière professionnelle qui lui permet de découvrir l’homme. Il
        s’est investi dans la formation des jeunes. L’ouvrage nous renseigne également sur la foi de El Hadji Tamboura.
        L’ouvrage se termine par son rêve. L’ouvrage présente le courage, l’endurance, l’engagement dans le travail bien fait,
        l’honnêteté et l’amour de son village“, a laissé entendre le présentateur de la journée.
    </p>
    <p style="margin-right: 10%; margin-left: 10%; margin-top: 3%;font-size: 1.2em;">
        Pour la présidente de la Fondation, Madame Sondo Néné, il faut saluer la mémoire de mon grand père. Elle ajoute
        qu’elle a hérité des valeurs de Hamadoun Tamboura. ” Papi de son vivant nous a enseigné les valeurs de tolérance
        et je pense que j’incarne ses valeurs. Les témoignages ont été très touchantes surtout avec son parcours professionnel.
        Cette fondation est ouvert à tous“, dixit la présidente de la Fondation.
        Au cours de cette cérémonie de dédicace, il y a eu des témoignages sur la grandeur d’homme de Elle Hadji Tamboura dit
        Belko Barké. Il s’est agit principalement de Me Alidou Ouédraogo.
    </p>
    <div style="margin: 3% 10%;font-size: 1.2em;">
        Article de cite elegance que vous pouvez trouver <a href="https://citeelegance.net/?p=9773" target="_blank">ici</a>
    </div>
{% endblock %}
